* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;

}

header {
   width: 100%;
   height: 80px;
   background-color: rgb(226, 226, 226);
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;


}

.hedersearch {
   width: 259px;
   height: 50px;
   /* background-color: aquamarine; */
   /* border: 3px solid black; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 7px;
   position: relative;


}

.serchivones {
   position: absolute;
   right: 100px;

}

.nav0001 ul {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.nav0001 a {
   text-decoration: none;
   color: aliceblue;
}



.searchicones1 {
   width: 50px;
   height: 50px;
   background-color: blueviolet;
   display: flex;
   justify-content: center;
   align-items: center;



}




.searching {
   width: 130px;
   background-color: gray;
   border: none;
   color: black;
   background-color: rgba(240, 248, 255, 0);
   margin-left: 15px;
   outline: none;




}

.searchline {
   width: 170px;
   height: 2px;
   background-color: black;

}

.hedernavigation {
   /* width: 300px; */
   height: 50px;
   /* background-color: rgb(0, 255, 106); */
   display: flex;
   align-items: center;
   justify-content: space-between;


}

.hedernavigation>ul {
   display: flex;
   gap: 13px;
   position: relative;
   top: 10px;
   right: 20px;






}

.hedernavigation>ul>li>a {
   color: black;
   text-decoration: none;

}

.headericones {
   width: 250px;
   height: 50px;
   /* background-color: green; */
}

.headericones {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.heredericonessocial {
   /* width: 50px; */
   height: 20px;
   /* background-color: blue; */
}


.hedericonesa {
   color: black;
}

.hederburger {
   width: 50px;
   height: 50px;
   /* background-color: aqua; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;
   display: none;

}

.burgerline {
   width: 40px;
   height: 2px;
   background-color: black;
}

/* აქ დასრულდა ჰედერი */


/* აქ იწყება chat */
.chatlets {
   width: 60px;
   height: 60px;
   background-color: blue;
   position: fixed;
   bottom: 0;
   right: 0;
   display: flex;
   color: aliceblue;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin: 10px 10px;
   border-radius: 5px;
   z-index: 99;

}



/* აქ იწყება main menu */


.mainmenu {
   width: 100%;

}

.pirstmenu {
   width: 100%;
   /* height: 50vh; */
   /* background-color: aqua; */
   background-image: url(https://static.wixstatic.com/media/5bfb6f_26f1a5c736e544e09c63c82a4c792645~mv2_d_3839_1306_s_2.jpg/v1/fill/w_810,h_317,al_b,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/5bfb6f_26f1a5c736e544e09c63c82a4c792645~mv2_d_3839_1306_s_2.jpg);
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;



}

.firstmenuchild {
   width: 500px;
   height: 300px;
   /* background-color: blueviolet; */
   margin: 70px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 7px;
   color: aliceblue;

}

.secondmenu {
   width: 100%;
   /* height: 50vh; */
   /* background-color: blueviolet; */
   display: flex;
   gap: 30px;
   flex-direction: column;



}

.secondmenuchild1 {
   width: 100%;
   height: 70px;
   /* background-color: aqua; */
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 4px;
   margin-top: 10px;


}

.secondmenuchild1>p {
   margin-bottom: 0rem;
   font-size: small;


}

.secondmenuchild2 {
   width: 100%;
   /* height: 150px; */
   /* background-color: brown; */
   display: flex;
   gap: 40px;
   justify-content: center;
   align-items: center;

}

.secondmenuchild3 {
   width: 100%;
   height: 90px;
   background-color: rgba(204, 204, 204, 0.726);
   display: flex;
   justify-content: center;
   gap: 70px;
   align-items: center;
}



.featured {
   width: 100px;
   height: 90px;
   /* background-color: aqua; */
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   font-size: small;

}

.spaceline {
   width: 3px;
   height: 30px;
   background-color: black;
   border-radius: 50px;
}

.planetour {
   width: 100px;
   height: 90px;
   display: flex;
   /* background-color: aqua; */

}


.blog {
   width: 100px;
   height: 90px;
   /* background-color: aqua; */

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.pargrafetravel {
   font-family: "Winky Sans", sans-serif;
   font-size: 25px;
   margin-bottom: 20px;
   height: 5px;


}

.paragrap1 {
   width: 900px;
}

.paragrapheblog {
   margin-left: 25px;

}

.planetour {
   width: 100px;
   height: 90px;
   /* background-color: aqua; */
   justify-content: center;
   display: flex;
   align-items: center;
   font-size: 13px;
}

.world {
   width: 100px;
   height: 70px;
   /* background-color: aqua; */
   font-family: "Winky Sans", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 11px;
   margin-top: 12px;




}

.skycloud {
   width: 100px;
   height: 90px;
   /* background-color: aqua; */
   font-family: "Winky Sans", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;

}


.secondmenuchild2boxes {
   width: 250px;
   height: 250px;
   background-color: rgb(23, 20, 220);
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url();



}

.boximg1 {
   background-image: url(https://static.wixstatic.com/media/5bfb6f_9f2519d5fc2d41f990a10dd92eb8658d.jpg/v1/fill/w_209,h_173,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/5bfb6f_9f2519d5fc2d41f990a10dd92eb8658d.jpg);
   background-size: cover;

}

.boximg2 {
   background-image: url(https://static.wixstatic.com/media/5bfb6f_ea37f67cad544b348df9f3d0ff40f282.jpg/v1/fill/w_209,h_173,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/5bfb6f_ea37f67cad544b348df9f3d0ff40f282.jpg);
   background-size: cover;
}

.boximg3 {
   background-image: url(https://static.wixstatic.com/media/5bfb6f_c667d0c9bd634b1aa2b29311795f3c51.jpg/v1/fill/w_210,h_173,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/5bfb6f_c667d0c9bd634b1aa2b29311795f3c51.jpg);
   background-size: cover;
}


.secondmenuchild2boxes>button {
   width: 120px;
   height: 43px;
   justify-content: center;
   align-items: center;
   color: blue;

}

.buttonhover003 :hover {
   background-color: blue;
   color: aliceblue;
   transition: 1s;
}

/* აქ დასრულდა main menu */


/* /////// აქ იწყება section */

.maincsection {
   width: 100%;
   height: 70vh;
   background-color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* position: relative; */
   /* right: 200px; */

}

.secionchild {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   gap: 30px;

}



.sectionscards1 img {

   width: 80%;



}

.badyy {
   width: 80%;
}


.sectionscards2 img {
   width: 80%;
}

.sectionscards3 img {
   width: 80%;
}


/* ////////////////////აქ იწყება სოციალ აიქოონები */
.socialiones {
   width: 100%;
   height: 80px;
   background-color: blue;
   display: flex;
   gap: 120px;
   justify-content: center;
   align-items: center;

}

.socones {
   width: 150px;
   height: 50px;
   /* background-color: brown; */
   color: white;
   display: flex;
   gap: 5px;





}

.socones a {
   color: white;
   text-decoration: none;
}







/* aq aris burger navigacia */
#check:checked~.nav001 {
   display: flex;
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   justify-content: center;
   background-color: skyblue;
   color: white;
   text-decoration: none;
   align-items: center;




}

#check {
   display: none;
}

#check:checked+.labelburger>.hederburger .line2 {
   display: none;
}

#check:checked+.labelburger>.hederburger .line1 {
   transform: rotate(47deg) translate(6px);
   transition: 0.5s;
}

#check:checked+.labelburger>.hederburger .line3 {
   transform: rotate(-47deg) translate(6px);
   transition: 0.5s;
}


#check {
   display: none;
}

.nav001 {
   display: none;
}

.labelburger {
   position: relative;
   z-index: 99;

}




/* FOOOOOTEEER */
footer {
   width: 100%;
   /* height: 70vh; */
   /* background-color: bisque; */
}

.carouselboxes {
   /* width: 200px; */
   height: 200px;
   display: flex;
}

.carouselboxes img {
   width: 200px;
}

.footerdiv2 {
   width: 100%;
   /* height: 70vh; */
   background-color: gray;
   display: flex;
   gap: 40px;


}

.reftdiv {
   padding-top: 30px;
   width: 50%;
   /* height: 70vh; */
   /* background-color: blueviolet; */
   display: flex;
   justify-content: center;
   /* align-items: center; */
   gap: 50px;



}

.rightdiv {
   width: 50%;
   /* height: 70vh; */
   /* background-color: blue; */
   display: flex;
   /* justify-content: center; */
   padding-top: 30px;
   gap: 20px;
   flex-direction: column;
}

.divimages img {
   width: 150px;
   /* height: 150px; */
   margin-left: 30px;
}

.textabout h3 {
   color: aliceblue;
}

.textabout p {
   color: aliceblue;

}

.divconyeinerright h3 {
   color: aliceblue;
}

.input09 {
   background-color: gray;
   box-sizing: 50px;


}

.label4 {
   color: aliceblue;
}

.input09::placeholder {
   color: aliceblue;
   font-size: 15px;
}

.divchekbox>p {
   color: aliceblue;
}

.fitsbutton5 {
   width: 190px;
   height: 30px;
   background-color: blue;
   color: aliceblue;

}

.fitsbutton5:hover {
   background-color: rgba(255, 255, 255, 0.699)
}

.redmore {
   color: aliceblue;
}

.goiogleapis {
   margin-top: 200px;
   margin-right: 50px;




}

.foricones {
   margin-top: 150px;
   width: 150px;
   height: 50px;
   /* background-color: aqua; */
   display: flex;
   gap: 20px;


}

section {
   width: 100%;
   /* height: 70vh; */
   /* background-color: aqua; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 50px;
   padding-top: 50px;
   padding-bottom: 30px;

}

.treediv {
   width: 80%;
   height: 800px;
   /* background-color: blue; */
   border: 2px solid gray;
   display: flex;
   flex-direction: column;
   justify-content: center;


}

.photodiv1 {
   width: 100%;
   height: 1000px;
   /* background-color: blanchedalmond; */
   background-image: url(https://static.wixstatic.com/media/e3190f8f39f5445c8e5d4153ab1414aa.jpg/v1/fill/w_1683,h_1122,al_c,q_90/e3190f8f39f5445c8e5d4153ab1414aa.webp);
   background-size: cover;
   background-position: center;
}

.whitediv1 {
   width: 100%;
   height: 600px;
   /* background-color: rgb(0, 255, 85); */
   display: flex;
   flex-direction: column;
   gap: 40px;

}

.iconestwihe {
   display: flex;
   gap: 10px;
   align-items: center;
   /* background-color: aqua; */
   padding: 10px;

}

.texts {
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   /* background-color: blueviolet; */
   justify-content: end;
}

.texts p {
   line-height: 5px;


}

.iconestwihe i {
   font-size: 40px;

}

.photodiv2 {
   width: 100%;
   background-image: url(https://static.wixstatic.com/media/f969ea5e4ea64a66af55f3cb06895101.jpg/v1/fill/w_1110,h_740,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/f969ea5e4ea64a66af55f3cb06895101.jpg);
   height: 1000px;
   background-size: cover;
   background-position: center;

}

.whitediv2 {
   width: 100%;
   height: 400px;
   /* background-color: rgb(255, 0, 242); */
   display: flex;
   flex-direction: column;
   gap: 20px;
   
}

.photodiv3 {
   width: 100%;
   height: 1000px;
   background-image: url(https://static.wixstatic.com/media/ae5901bd4fda41009c4cc4a19bb70d05.jpg/v1/fill/w_1110,h_740,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/ae5901bd4fda41009c4cc4a19bb70d05.jpg);
   background-size: cover;
   background-position: center;
}

.whitediv3 {
   width: 100%;
   height: 400px;
   /* background-color: blue; */
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   gap: 20px;
}



.lineipanemaline {
   width: 95%;
   height: 2px;
   background-color: black;
}

.iconesipanema {
   width: 95%;
   height: 30px;
   /* background-color: blueviolet; */
   display: flex;
   justify-content: space-between;
}

.ipannemamother{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.thegirl{
   display: flex;
   justify-content: center;
   
}
.thegirl a{
   /* list-style: none; */
   text-decoration: none;
   color: black;
   
}
.thegirl a :hover{
   color: blue;
}